[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "kleidicv"]
	path = kleidicv
	url = https://gitlab.arm.com/kleidi/kleidicv.git
